<div class="broker-view" data-tab-content="broker-view">
    <div class="topic-card glass-panel">
        <div class="d-flex justify-content-between align-items-center">
            <div class="topic-card-title mb-0">Брокеры</div>
            <div class="btn-group gap-2">
                <button id="broker-add-btn" type="button" class="btn btn-primary filter-btn">＋ Добавить брокер</button>
            </div>
        </div>
        <div class="topic-table-wrapper">
            <table class="table table-dark table-sm topic-table" id="broker-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название подключения</th>
                        <th>Хост</th>
                        <th>Порт</th>
                        <th>Статус</th>
                        <th>ClientId</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

