<div class="tab-shell">
    <div class="tab-header" id="tab-header">
        <!-- tabs populated by JS -->
    </div>
    <div class="tab-content" id="tab-content">
        <!-- content panes populated by JS -->
    </div>
</div>

