<div class="tab-shell">
    <div class="tab-header" id="tab-header">
        <!-- tabs populated by JS -->
        <button class="tab-add" id="tab-add" type="button" title="Add tab">+</button>
    </div>
    <div class="tab-content" id="tab-content">
        <!-- content panes populated by JS -->
    </div>
</div>

