<div class="topic-view" data-tab-content="topic-view">
    <div class="topic-filter">
        <label for="topic-filter-input">Topic filter</label>
        <input id="topic-filter-input" type="text" placeholder="Type topic name..." />
    </div>
    <div class="topic-table-wrapper">
        <table class="table table-dark table-sm topic-table" id="topic-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Partitions</th>
                    <th>Messages</th>
                    <th>Retention (days)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

